{% extends 'blog/blog.html' %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <p class="card-text">{{object.category}}</p>
            <h4 class="card-title">{{object.name}}</h4>
            <img src="{{object.image| media_filter}}" width="120px" height="130px">
            <p class="card-text">{{object.description}}</p>
            {% if user.is_authenticated %}
                {% if perms.blog.delete_productpost %}
                    <a class="p-2 btn btn-outline-primary" href="{% url 'blog:blog_delete' object.pk %}">Удалить отзыв</a>
                {% endif %}
                {% if perms.blog.change_productpost %}
                    <a class="p-2 btn btn-outline-primary" href="{% url 'blog:blog_update' object.pk %}">Редактировать</a>
                {% endif %}
            {% else %}
                <a class="p-2 btn btn-outline-primary" href="{% url 'users:login' %}" role="button">Войти</a>
            {% endif %}
            <a class="p-2 btn btn-outline-primary" href="{% url 'blog:blog' %}" role="button">Вернуться к отзывам</a>
        </div>
    </div>
</div>
{% endblock %}
